doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title RTL Service Test
		meta(name="description", content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="libs/leaflet/leaflet.css")
		link(rel="stylesheet" href="libs/leaflet/MarkerCluster.css")
		link(rel="stylesheet" href="libs/leaflet/MarkerCluster.Default.css")
		link(rel="stylesheet" href="css/main.css")
	body
		main
			div(class="devices", id="devices")
			div(class="map", id="map")

		script(src="libs/leaflet/leaflet.js" defer)
		script(src="libs/leaflet/leaflet.markercluster.js" defer)
		script(src="js/main.js" defer)
